{% for item in include.content %}
<p>
  <div class="row clearfix layout layout-{{item.layout | default: 'left'}}">
          <div class="row align-items-center">
          <div class="col-sm-3 pub-image-cell">
          {%- if item.youtube-id -%}
		  	<a href="http://www.youtube.com/watch?feature=player_embedded&v={{item.youtube-id}}" target="_blank">
	    			<img src="http://img.youtube.com/vi/{{item.youtube-id}}/0.jpg" alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" />
	    		</a>
    		{%- endif -%}
    		{%- if item.teaser -%}
	    			<img src="{{item.teaser}}" alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" />
    		{%- endif -%}
          </div>
          <div class="col-sm-9 py-3">
            <h4><b>
            {%- if item.link -%}
             	<a href={{item.link}}>{{ item.title }} </a> 
            {%- else -%}
            	{{ item.title }} 
	    {%- endif -%}
	    </b></h4>
	    
            <p><i>{{ item.autors}}</i></p>
            <p>{{ item.source}}</p>
	    <p>{{ item.abstract}}</p>
            </div>
          </div>
  </div>
</p>          
{% endfor %}          	
